Django==4.2.3
django-import-export==4.1.1
django-widget-tweaks==1.5.0
dj-database-url==2.1.0
gunicorn==21.2.0
psycopg2-binary==2.9.10
python-dotenv==1.0.0
openpyxl==3.1.2
pandas==2.2.3
python-docx==0.8.11
google-generativeai==0.8.3
openai==0.28.0
Pillow==10.0.0
protobuf==5.28.2
asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
cffi==1.15.1
diff-match-patch==20230430
et-xmlfile==1.1.0
google-api-core==2.21.0
googleapis-common-protos==1.65.0
grpcio==1.67.0
grpcio-status==1.67.0
html5lib==1.1
httpx==0.28.1
lxml==5.3.0
numpy==2.1.2
packaging==23.1
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
soupsieve==2.6
sqlparse==0.4.4
tqdm==4.66.1
tzdata==2023.3
whitenoise==6.9.0
django-multiselectfield==0.1.13
