<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <di class="container mt-5">
        <div class="row justify-content-center align-items-center vh-120 mt-5">
            <di class="col-md-7 text-center bg-white p-3 mb-5">

                <h1 CLASS="display-4">SOBRE MAESTROS DEL FUTURO</h1>



                <p CLASS="display-6">Este innovador sistema, conocido como "<strong>Maestros del Futuro</strong>", se ha creado con el propósito de revolucionar la planificación y gestión de clases, incluyendo la elaboración de planes de estudio y la incorporación del sílabo. Esta herramienta integral ha sido meticulosamente diseñada y desarrollada por <strong>Ader Yasmir Zeas Rocha</strong>, un estudiante de quinto año de la carrera de ingenieria de sistemas en la Universidad Martín Lutero.</p>

                <p CLASS="display-6">"<strong>Maestros del Futuro</strong>" permite a los educadores simplificar el proceso de planificación de clases y la estructuración de los planes de estudio. A través de la integración del sílabo, los maestros pueden asegurarse de que sus enseñanzas estén alineadas con los objetivos curriculares y los estándares educativos. Además, este sistema ofrece recursos avanzados que facilitan la gestión de tareas y la comunicación con los estudiantes, mejorando así la eficiencia educativa.</p>

                <p CLASS="display-6">Este proyecto se ha desarrollado utilizando tecnologías punteras como <strong>Django</strong> y <strong>Bootstrap</strong>, lo que garantiza una experiencia moderna y eficaz. <strong>Django</strong> proporciona una base sólida para la gestión de datos y la creación de aplicaciones web robustas, mientras que <strong>Bootstrap</strong> ofrece un diseño responsive y una interfaz de usuario atractiva.</p>

                <p CLASS="display-6"><strong>Ader Yasmir Zeas Rocha</strong>, apasionado por la tecnología, ha fusionado su conocimiento y dedicación para crear "<strong>Maestros del Futuro</strong>", una solución que tiene el potencial de transformar la enseñanza y mejorar el futuro de la educación. Su visión y compromiso se reflejan en este sistema innovador, que busca simplificar la vida de los educadores y permitirles centrarse en lo que hacen mejor: inspirar y guiar a las mentes jóvenes hacia un futuro brillante.</p>


            </di>
        </div>
    </di>


    {% endblock %}
</body>
</html>