<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>PLANEAUML</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="{% static 'img/logouml.ico' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
    <!-- para que se vea bien en dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <nav class="navbar bg-body-tertiary fixed-top" >
      <div class="container-fluid fixed-top">
        <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/logouml.png' %}" alt="" style="height: 50px;">PLANEAUML</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end align-items-center" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header ">
            <div class="offcanvas-title text-center d-flex flex-column align-items-center" id="offcanvasNavbarLabel">
                <img src="{% static 'img/logouml.png' %}" alt="" style="height: 150px;">
                <h5>PLANEAUML</h5>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown" id="1p">
                    <a class="nav-link dropdown-toggle" id="2p" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> {{ usuario }}
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Cerrar Cesion</a></li>
                    </ul>


                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}"><i class="fas fa-home"></i> Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'admin:index' %}"><i class="fas fa-cogs"></i> Panel de control</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'acerca' %}"><i class="fas fa-info-circle"></i> Acerca de</a>
                </li>

            </ul>

            <!--<form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>-->
          </div>
        </div>
      </div>
    </nav>

    <div  id="page-content" style="margin-top: 100px">
        {% block content %}
        {% endblock %}
    </div>


   <!-- Footer -->
   <footer class="text-center" id="page-footer" >
    <div class="container">
        <!--<p class="font-weight-bold">Contacto: aderjasmirzeasrocha@gmail.com - Teléfono: 89278365</p>
        <p class="font-weight-bold">Sígueme en las redes sociales</p>-->
        <div class="container mt-5">
            <div class="d-inline mx-2">
                <a href="https://twitter.com/Over_Ader" target="_blank" class="btn btn-custom btn-lg">
                    <i class="fab fa-twitter me-2"></i> Twitter
                </a>
            </div>
            <div class="d-inline mx-2">
                <a href="https://www.linkedin.com/in/tu_perfil" target="_blank" class="btn btn-custom btn-lg">
                    <i class="fab fa-linkedin me-2"></i> LinkedIn
                </a>
            </div>
            <div class="d-inline mx-2">
                <a href="https://www.linkedin.com/in/ader-jasmir-zeas-rocha/" target="_blank" class="btn btn-custom btn-lg">
                    <i class="fab fa-github me-2"></i> GitHub
                </a>
            </div>
        </div>
        <p class="font-weight-bold">&copy; {{ year }} Mi Proyecto. Todos los derechos reservados a Ader Yasmir Zeas Rocha.</p>
    </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</body>
</html>