<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Silabos</title>

   <style>
    /* Agrega scroll horizontal a la tabla */
    .table-container {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th, .table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    /* Estilos para la fila de encabezado */
    .table th {
        background-color: #ccc; /* Cambia el fondo del encabezado a gris */
        font-weight: bold;
    }

    /* Estilos para las filas de datos */
    .table tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }

    /* Estilos para las filas pares */
    .table tbody tr:nth-child(even) {
        background-color: #e5e5e5;
    }
</style>


</head>
<body>

<div class="container">
     {% for codigo, silabos_grupo in silabos_agrupados.items %}
    <div class="table-container mb-3">

        <table class="table">
            <thead class="border-top-color">
            <tr class="align-top">






            </tr>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Carrera</th>
                <th scope="col">Asignatura</th>
                <th scope="col">Maestro</th>
                <th scope="col">Encuentros</th>
                <th scope="col">Fecha</th>
                <th scope="col">Objetivo Conceptual</th>
                <th scope="col">Objetivo Procedimental</th>
                <th scope="col">Objetivo Actitudinal</th>
                <th scope="col">P Momento Didáctico</th>
                <th scope="col">S Momento Didáctico</th>
                <th scope="col">T Momento Didáctico</th>
                <th scope="col">Unidad</th>
                <th scope="col">Detalle Unidad</th>
                <th scope="col">Contenido Temático</th>
                <th scope="col">Forma Organizativa</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Técnicas de Aprendizaje</th>
                <th scope="col">Estrategia Aprendizaje</th>
                <th scope="col">Eje Transversal</th>
                <th scope="col">H P</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">


                {% for silabo in silabos_grupo %}
                    <tr class="align-top">
                        <th scope="row">{{ silabo.id }}</th>
                        <td>{{ silabo.carrera }}</td>
                        <td>{{ silabo.asignatura }}</td>
                        <td>{{ silabo.maestro }}</td>
                        <td>{{ silabo.encuentros }}</td>
                        <td>{{ silabo.fecha }}</td>
                        <td>{{ silabo.objetivo_conceptual }}</td>
                        <td>{{ silabo.objetivo_procedimental }}</td>
                        <td>{{ silabo.objetivo_actitudinal }}</td>
                        <td>{{ silabo.momento_didactico_primer }}</td>
                        <td>{{ silabo.momento_didactico_segundo }}</td>
                        <td>{{ silabo.momento_didactico_tercer }}</td>
                        <td>{{ silabo.unidad }}</td>
                        <td>{{ silabo.detalle_unidad }}</td>
                        <td>{{ silabo.contenido_tematico }}</td>
                        <td>{{ silabo.forma_organizativa }}</td>
                        <td>{{ silabo.tiempo }}</td>
                        <td>{{ silabo.tecnicas_aprendizaje }}</td>
                        <td>{{ silabo.descripcion_estrategia }}</td>
                        <td>{{ silabo.eje_transversal }}</td>
                        <td>{{ silabo.hp }}</td>
                    </tr>

                {% endfor %}
                <tr>

                    <th colspan="3">

                    <form method="post" action="{% url 'generar_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="codigoSilabo" value="{{ codigo }}">
                        <button type="submit"> <i class="fa-solid fa-file-excel fa-lg"></i>Descargar Excel</button>
                   </form>

                </th>
                 <th colspan="21">

                    <form method="post" action="{% url 'generar_docx' %}">
                        {% csrf_token %}
                        <input type="hidden" name="codigoSilabo" value="{{ codigo }}">
                        <button type="submit"> <i class="fa-solid fa-file-word fa-lg"></i>Descargar Word</button>
                   </form>

                </th>



                </tr>
            </tbody>
        </table>

    </div>
    {% endfor %}
</div>

</body>
</html>
