{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
<div class="container-fluid">
    <div class="text-center">
        <h1 class="mb-4 text-center">Generar Sílabos</h1>
        <h3>{{ asignacion.plan_de_estudio }}</h3>
        <h3>Encuentro ({{ encuentro }})</h3>
    </div>



    <!-- Contenedor principal que contiene ambas secciones -->
    <div class="container">
        <!-- Sección 1: Formulario Principal -->
        <div id="seccionFormularioPrincipal" style="display: block;">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="card shadow-lg">
                        <div class="card-body">

                            <h2 class="text-center">Silabo</h2>
                            <form id="silabo-form" method="POST" action="{% url 'generar_silabo' %}">
                                {% csrf_token %}
    
                                <input type="hidden" id="encuentro" name="encuentro" value="{{ encuentro }}">
                                <input type="hidden" id="plan" name="plan" value="{{ asignacion.plan_de_estudio }}">
    
                               <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
                                    <!-- Etiqueta para el select -->
                                    <label for="modelo_select" class="form-label mb-0">Modelo:</label>
    
                                    <!-- Combobox con ancho personalizado -->
                                    <select id="modelo_select" name="modelo_select" class="form-select" style="width: 200px;">
                                        <option value="google">Google - Gemini</option>
                                        <option value="openai">OpenAI - Davinci</option>
                                    </select>
    
                                   {% include 'generar_plan_estudio/boton_generar.html' %}
                                </div>
                            </form>



                            <form method="post" action="{% url 'guardar_silabo' asignacion.id %}" onsubmit="return mostrarSpinner()">
                                {% csrf_token %}

                                <!-- Mostrando errores de formulario -->
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in form %}
                                                {% if field.errors %}
                                                    <li>{{ field.label }}: {{ field.errors }}</li>
                                                {% endif %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                <!-- Campo Código -->
                                <div class="mb-3 oculto">
                                    <label for="codigo" class="form-label">Código</label>
                                    {{ form.codigo|add_class:"form-control" }}
                                </div>

                                <!-- Campo Carrera -->
                                <div class="mb-3 oculto">
                                    <label for="carrera" class="form-label">Carrera</label>
                                    {{ form.carrera|add_class:"form-control" }}
                                </div>

                                <!-- Campo Asignatura -->
                                <div class="mb-3 oculto">
                                    <label for="asignatura" class="form-label">Asignatura (Plan de Estudio)</label>
                                    {{ form.asignatura|add_class:"form-control" }}
                                </div>

                                <!-- Campo Maestro -->
                                <div class="mb-3 oculto">
                                    <label for="maestro" class="form-label">Maestro</label>
                                    {{ form.maestro|add_class:"form-control" }}
                                </div>

                                <!-- Campo Encuentros -->
                                <div class="mb-3 oculto">
                                    <label for="encuentros" class="form-label">Encuentros</label>
                                    {{ form.encuentros|add_class:"form-control" }}
                                </div>

                                <!-- Campo Fecha -->
                                <div class="mb-3">
                                    <label for="fecha" class="form-label">Fecha</label>
                                    {{ form.fecha|add_class:"form-control" }}
                                </div>

                                <hr class="my-4">

                                <h5>Objetivos</h5>

                                <!-- Campo Objetivo Conceptual -->
                                <div class="mb-3">
                                    <label for="objetivo_conceptual" class="form-label">Objetivo Conceptual</label>
                                    {{ form.objetivo_conceptual|add_class:"form-control" }}
                                </div>

                                <!-- Campo Objetivo Procedimental -->
                                <div class="mb-3">
                                    <label for="objetivo_procedimental" class="form-label">Objetivo Procedimental</label>
                                    {{ form.objetivo_procedimental|add_class:"form-control" }}
                                </div>

                                <!-- Campo Objetivo Actitudinal -->
                                <div class="mb-3">
                                    <label for="objetivo_actitudinal" class="form-label">Objetivo Actitudinal</label>
                                    {{ form.objetivo_actitudinal|add_class:"form-control" }}
                                </div>

                                <hr class="my-4">

                                <h5>Momentos Didácticos</h5>

                                <!-- Campos Momentos Didácticos -->
                                <div class="mb-3">
                                    <label for="momento_didactico_primer" class="form-label">Primer Momento Didáctico</label>
                                    {{ form.momento_didactico_primer|add_class:"form-control" }}
                                </div>
                                <div class="mb-3">
                                    <label for="momento_didactico_segundo" class="form-label">Segundo Momento Didáctico</label>
                                    {{ form.momento_didactico_segundo|add_class:"form-control" }}
                                </div>
                                <div class="mb-3">
                                    <label for="momento_didactico_tercer" class="form-label">Tercer Momento Didáctico</label>
                                    {{ form.momento_didactico_tercer|add_class:"form-control" }}
                                </div>

                                <hr class="my-4">

                                <h5>Unidad y Contenido</h5>

                                <!-- Campos Unidad y Contenido -->
                                <div class="mb-3">
                                    <label for="unidad" class="form-label">Unidad</label>
                                    {{ form.unidad|add_class:"form-select" }}
                                </div>
                                <div class="mb-3">
                                    <label for="detalle_unidad" class="form-label">Detalle de la Unidad</label>
                                    {{ form.detalle_unidad|add_class:"form-control" }}
                                </div>
                                <div class="mb-3">
                                    <label for="contenido_tematico" class="form-label">Contenido Temático</label>
                                    {{ form.contenido_tematico|add_class:"form-control" }}
                                </div>

                                <!-- Campos Adicionales -->
                                <div class="mb-3">
                                    <label for="forma_organizativa" class="form-label">Forma Organizativa</label>
                                    {{ form.forma_organizativa|add_class:"form-select" }}
                                </div>
                                <div class="mb-3">
                                    <label for="tiempo" class="form-label">Tiempo</label>
                                    {{ form.tiempo|add_class:"form-control" }}
                                </div>
                                <div class="mb-3">
                                    <label for="tecnicas_aprendizaje" class="form-label">Técnicas de Aprendizaje</label>
                                    {{ form.tecnicas_aprendizaje|add_class:"form-select" }}
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion_estrategia" class="form-label">Descripción Estrategia</label>
                                    {{ form.descripcion_estrategia|add_class:"form-control" }}
                                </div>
                                <div class="mb-3">
                                    <label for="eje_transversal" class="form-label">Eje Transversal</label>
                                    {{ form.eje_transversal|add_class:"form-select" }}
                                </div>
                                <div class="mb-3">
                                    <label for="hp" class="form-label">Horas Prácticas (HP)</label>
                                    {{ form.hp|add_class:"form-control" }}
                                </div>

                                <hr class="my-4">

                                <div class="alert alert-warning" role="alert">
                                  Esta IA puede cometer errores. Por favor, revise la información cuidadosamente antes de guardarla.
                                </div>
                                
                            </form>
                            
                            <!-- Botón de navegación a la sección de estudio independiente -->
                            <div class="text-center mt-4">
                                <button type="button" class="btn btn-primary" onclick="cambiarSeccion('seccionEstudioIndependiente')">
                                    <i class="fas fa-chevron-right"></i> Ir a Estudio Independiente
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Sección 2: Formulario de Estudio Independiente -->
        <div id="seccionEstudioIndependiente" style="display: none;">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h2 class="mb-4 text-center">Guia</h2>
                            
                            <!-- Pasar el ID de asignación a la plantilla de estudio independiente -->
                            <input type="hidden" id="asignacion_id_global" value="{{ asignacion.id }}">
                            
                            <!-- Incluir el formulario de estudio independiente -->
                            {% include 'agregar_estudio_independiente.html' with asignacion=asignacion %}
                            
                            <!-- Botón de navegación de regreso al formulario principal -->
                            <div class="text-center mt-4">
                                <button type="button" class="btn btn-primary" onclick="cambiarSeccion('seccionFormularioPrincipal')">
                                    <i class="fas fa-chevron-left"></i> Regresar al Formulario Principal
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#silabo-form').on('submit', function (event) {
            event.preventDefault();

            const botonGenerar = $('#boton-generar');
            const spinners = $('.spinner');
            const textoBoton = botonGenerar.find('.text');
            const iconoBoton = botonGenerar.find('.sparkle');

            spinners.removeClass('d-none');
            textoBoton.hide();
            iconoBoton.hide();
            botonGenerar.prop('disabled', true);

            var modeloSeleccionado = $('#modelo_select').val();
            var encuentro = $('#encuentro').val();  // Obtener el valor del campo oculto
            var plan = $('#plan').val();

            $.ajax({
                url: '{% url "generar_silabo" %}',
                type: 'POST',
                data: {
                    'modelo_select': modeloSeleccionado,
                    'encuentro': encuentro,
                    'plan': plan,
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (response) {
                    const silaboData = response.silabo_data || {};

                    // Actualizar los valores generados en el formulario
                    $('#id_objetivo_conceptual').val(silaboData.objetivo_conceptual || '');
                    $('#id_objetivo_procedimental').val(silaboData.objetivo_procedimental || '');
                    $('#id_objetivo_actitudinal').val(silaboData.objetivo_actitudinal || '');
                    $('#id_momento_didactico_primer').val(silaboData.momento_didactico_primer || '');
                    $('#id_momento_didactico_segundo').val(silaboData.momento_didactico_segundo || '');
                    $('#id_momento_didactico_tercer').val(silaboData.momento_didactico_tercer || '');
                    $('#id_unidad').val(silaboData.unidad || '');
                    $('#id_detalle_unidad').val(silaboData.detalle_unidad || '');
                    $('#id_contenido_tematico').val(silaboData.contenido_tematico || '');
                    $('#id_forma_organizativa').val(silaboData.forma_organizativa || '');
                    $('#id_tiempo').val(silaboData.tiempo || '');  // Asegúrate de que estos campos están siendo llenados
                    $('#id_tecnicas_aprendizaje').val(silaboData.tecnicas_aprendizaje || '');
                    $('#id_descripcion_estrategia').val(silaboData.descripcion_estrategia || ''); // Añadir estos campos
                    $('#id_eje_transversal').val(silaboData.eje_transversal || '');
                    $('#id_hp').val(silaboData.hp || '');
                    $('#id_estudio_independiente').val(silaboData.estudio_independiente || '');
                },
                error: function (xhr) {
                    alert('Ocurrió un error: ' + xhr.responseJSON.error);
                },
                complete: function () {
                    // Restaurar el estado del botón y ocultar los spinners
                    spinners.addClass('d-none');
                    textoBoton.show();
                    iconoBoton.show();
                    botonGenerar.prop('disabled', false);

                    // Activar borde anaranjado en los campos que NO tienen valor
                    // Solo seleccionar los campos dentro del formulario principal, excluyendo los del estudio independiente
                    $('#seccionFormularioPrincipal .form-control').each(function () {
                        const currentValue = $(this).val() ? $(this).val().trim() : ''; // Manejar el caso de null
                        console.log("Campo: ", $(this).attr('id'), " Valor: ", currentValue); // Para depuración
                        if (currentValue === '') {
                            $(this).addClass('blue-border'); // Agregar borde anaranjado si está vacío
                        } else {
                            $(this).removeClass('blue-border'); // Asegúrate de que se quite el borde si hay valor
                        }
                    });
                }
            });
        });
    });
</script>

<script>
    function mostrarSpinner() {
        const btn = document.getElementById('guardarSilaboBtn');
        const spinner = document.getElementById('spinner');

        // Deshabilita el botón
        btn.disabled = true;

        // Oculta el icono del botón y muestra el spinner
        const icon = btn.querySelector('img');

        spinner.style.display = 'inline-block'; // Muestra el spinner

        return true; // Asegúrate de que el formulario se envíe
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionar todos los campos con la clase 'form-control' y 'form-select' SOLO en el formulario principal
        const fields = document.querySelectorAll('#seccionFormularioPrincipal .form-control, #seccionFormularioPrincipal .form-select');

        // Función para verificar si el valor contiene letras
        function containsLetters(value) {
            return /[a-zA-Z]+/.test(value); // Detecta letras en el valor del campo
        }

        // Función para manejar el cambio de contenido
        function handleInputChange(event) {
            const field = event.target; // El campo que disparó el evento
            console.log("Contenido actual: ", field.value); // Depuración del contenido del campo

            // Comprobar si el campo está vacío
            if (field.value.trim() === "") {
                field.classList.add('blue-border'); // Agrega borde anaranjado si está vacío
            } else if (field.tagName === 'SELECT' || field.type === 'date') {
                field.classList.remove('blue-border'); // Remueve borde para select y date si hay un valor
            } else {
                // Agregar o remover la clase 'blue-border' según el contenido
                if (containsLetters(field.value)) {
                    field.classList.remove('blue-border'); // Remueve borde
                } else {
                    field.classList.add('blue-border'); // Agrega borde anaranjado
                }
            }
        }

        // Agregar eventos a los campos de texto y select
        fields.forEach(field => {
            // Manejar el evento 'input' para campos de texto
            if (field.tagName === 'INPUT' && field.type !== 'checkbox' && field.type !== 'radio') {
                field.addEventListener('input', handleInputChange);
            }
            // Manejar el evento 'change' para select y date
            else if (field.tagName === 'SELECT' || field.type === 'date') {
                field.addEventListener('change', handleInputChange);
            }
        });
    });
</script>

<script>
    // Función para cambiar entre secciones
    function cambiarSeccion(seccionMostrar) {
        console.log('Cambiando a sección:', seccionMostrar);
        
        // Ocultar todas las secciones
        document.getElementById('seccionFormularioPrincipal').style.display = 'none';
        document.getElementById('seccionEstudioIndependiente').style.display = 'none';
        
        // Mostrar la sección seleccionada
        document.getElementById(seccionMostrar).style.display = 'block';
        
        // Desplazarse al inicio de la página
        window.scrollTo(0, 0);
    }
    
    // Inicialización al cargar la página
    document.addEventListener('DOMContentLoaded', function() {
        console.log('Inicializando la página...');
        
        // Asegurarse de que el formulario principal esté visible inicialmente
        cambiarSeccion('seccionFormularioPrincipal');
    });
</script>

<style>
    /* Estilo inicial sin borde */
    .form-control {
        border: 1px solid #ccc; /* Color de borde estándar */
    }

    .blue-border {
        border: 3px solid #fc800c; /* Color de borde anaranjado cuando se activa */
    }
    
    .oculto {
        display: none;
    }
</style>

{% endblock %}
