{% extends 'base.html' %}

{% block content %}
{% load static %}




<h1 class="mb-4 text-center">Planes de Estudio Asignados</h1>


    <div class="d-flex justify-content-center">

        <!-- Toast para mensajes  -->
        <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div style="position: absolute; top: 20px; right: 20px; z-index: 1;">
                {% for message in messages %}
                    <div class="toast show
                                {% if message.tags == 'success' %}bg-success text-white
                                {% elif message.tags == 'error' %}bg-danger text-white
                                {% endif %}"
                         role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">

                        <div class="toast-header">
                            <strong class="me-auto">
                                {% if message.tags == 'success' %} Éxito
                                {% elif message.tags == 'error' %} Error
                                {% else %} Notificación
                                {% endif %}
                            </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>

                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row row-cols-1 g-4" style="max-width: 800px;">  <!-- Ajuste de ancho máximo para centrado -->
            {% if asignaciones %}

            {% for asignacion in asignaciones %}
                <div class="col">
                    <div class="card shadow-sm h-100">
                    <div class="card-header">
                        <h5 class="mb-0">{{ asignacion.plan_de_estudio.asignatura }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Carrera:</strong> {{ asignacion.plan_de_estudio.carrera }}<br>
                            <strong>Año:</strong> {{ asignacion.plan_de_estudio.año }}<br>
                            <strong>Trimestre:</strong> {{ asignacion.plan_de_estudio.trimestre }}<br>
                            <strong>Código de Asignatura:</strong> {{ asignacion.plan_de_estudio.codigo }}<br>
                            <strong>Horas Prácticas:</strong> {{ asignacion.plan_de_estudio.hp }}<br>
                            <strong>Horas Teóricas:</strong> {{ asignacion.plan_de_estudio.hti }}<br>
                            <strong>Total de Horas:</strong> {{ asignacion.plan_de_estudio.hp|add:asignacion.plan_de_estudio.hti }}<br>
                        </p>

                        {% if asignacion.plan_tematico %}
                            <a href="{{ asignacion.plan_tematico.url }}" class="btn btn-primary" target="_blank">
                                <img src="{% static 'img/archivo.png' %}" alt="" style="height: 34px">Descargar Plan Temático
                            </a>
                        {% else %}
                            <p class="text-muted">No se ha asignado un plan temático.</p>
                        {% endif %}

                        <!-- Botón para llenar el silabo, solo aparece si no está completado -->
                        {% if asignacion.silabos_creados <= 12 %}
                            <a href="{% url 'llenar_silabo' asignacion.id %}" class="btn btn-warning">
                                <img src="{% static 'img/informe.png' %}" alt="" style="height: 34px">Llenar Sílabo
                            </a>
                            <a href="{% url 'guardar_silabo' asignacion.id %}" class="btn" style="background: #0585a1;">
                                <img src="{% static 'img/ia.png' %}" alt="" style="height: 34px;">Generar Silabo
                            </a>
                        {% endif %}
                    </div>

                        <div class="d-flex flex-row justify-content-center align-items-center mb-2 row row-cols-2">
                        {% for i in rango %}
                            <div class="mx-2 mt-2 div-custom {% if i <= asignacion.silabos_creados %}div-green{% else %}div-red{% endif %}">
                                <p class="text-center">{{ i }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Añade estos estilos al archivo CSS -->
                    <style>
                        .div-red {
                            background: #e74c3c; /* Color rojo */
                        }
                        .div-green {
                            background: #2ecc71; /* Color verde */
                        }
                        .div-custom {
                            width: 30px;
                            height: 30px;
                            color: white;
                            font-weight: bold;
                            font-size: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 5px;
                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
                            transition: all 0.3s ease;
                        }
                        .div-custom:hover {
                            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
                        }
                        .div-custom p {
                            margin: 0;
                            padding: 0;
                        }
                        @media (max-width: 768px) {
                        .card {
                            width: 90%; /* Hacer que la tarjeta llene el 90% del ancho */
                            margin: 0 auto; /* Centrar la tarjeta */
                        }
                    }

                    </style>


                    <!-- Footer de la tarjeta, muestra el estado de completado -->
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <span>Asignado a: {{ asignacion.usuario.username }}</span>
                        <span>
                            {% if asignacion.silabos_creados == 12 %}
                                <span class="text-success"><i class="fa fa-check-circle"></i> Completado</span>
                            {% else %}
                                <span class="text-danger"><i class="fa fa-times-circle"></i> No Completado</span>
                            {% endif %}
                        </span>
                    </div>
                </div>
                </div>
            {% endfor %}

            {% else %}
               <p class="alert alert-warning text-center" style="font-size: 1.2rem; font-weight: bold; padding: 20px; border-radius: 10px; max-width: 800px;">
                <i class="fa fa-exclamation-triangle" style="margin-right: 10px;"></i>
                No tienes un plan de estudio asignado.
            </p>

            {% endif %}
        </div>
    </div>




{% endblock %}











