{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<style>
    .oculto {
        display: none;
    }
</style>
<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4 text-center">Llenar Sílabo </h1>
        <h3>{{ asignacion.plan_de_estudio }}</h3>
        <h3>Encuentro ({{ encuentro }})</h3>
    </div>


    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body">

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>{{ field.label }}: {{ field.errors }}</li>
                                    {% endif %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}



                    <form method="post" onsubmit="return mostrarSpinner()">
                        {% csrf_token %}

                       <div class="mb-3 oculto">
                            <label for="codigo" class="form-label">Código</label>
                            {{ form.codigo|add_class:"form-control" }}
                        </div>

                        <div class="mb-3 oculto">
                            <label for="carrera" class="form-label">Carrera</label>
                            {{ form.carrera|add_class:"form-control" }}
                        </div>

                        <div class="mb-3 oculto">
                            <label for="asignatura" class="form-label">Asignatura (Plan de Estudio)</label>
                            {{ form.asignatura|add_class:"form-control" }}
                        </div>

                        <div class="mb-3 oculto">
                            <label for="maestro" class="form-label">Maestro</label>
                            {{ form.maestro|add_class:"form-control" }}
                        </div>

                        <div class="mb-3 oculto">
                            <label for="encuentros" class="form-label">Encuentros</label>
                            {{ form.encuentros|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha</label>
                            {{ form.fecha|add_class:"form-control" }}
                        </div>


                        <hr class="my-4">

                        <h5>Objetivos</h5>

                        <div class="mb-3">
                            <label for="objetivo_conceptual" class="form-label">Objetivo Conceptual</label>
                            {{ form.objetivo_conceptual|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="objetivo_procedimental" class="form-label">Objetivo Procedimental</label>
                            {{ form.objetivo_procedimental|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="objetivo_actitudinal" class="form-label">Objetivo Actitudinal</label>
                            {{ form.objetivo_actitudinal|add_class:"form-control" }}
                        </div>

                        <hr class="my-4">

                        <h5>Momentos Didácticos</h5>

                        <div class="mb-3">
                            <label for="momento_didactico_primer" class="form-label">Primer Momento Didáctico</label>
                            {{ form.momento_didactico_primer|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="momento_didactico_segundo" class="form-label">Segundo Momento Didáctico</label>
                            {{ form.momento_didactico_segundo|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="momento_didactico_tercer" class="form-label">Tercer Momento Didáctico</label>
                            {{ form.momento_didactico_tercer|add_class:"form-control" }}
                        </div>

                        <hr class="my-4">

                        <h5>Unidad y Contenido</h5>

                        <div class="mb-3">
                            <label for="unidad" class="form-label">Unidad</label>
                            {{ form.unidad|add_class:"form-select" }}
                        </div>

                        <div class="mb-3">
                            <label for="detalle_unidad" class="form-label">Detalle de la Unidad</label>
                            {{ form.detalle_unidad|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="contenido_tematico" class="form-label">Contenido Temático</label>
                            {{ form.contenido_tematico|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="forma_organizativa" class="form-label">Forma Organizativa</label>
                            {{ form.forma_organizativa|add_class:"form-select" }}
                        </div>

                        <div class="mb-3">
                            <label for="tiempo" class="form-label">Tiempo</label>
                            {{ form.tiempo|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="tecnicas_aprendizaje" class="form-label">Técnicas de Aprendizaje</label>
                            {{ form.tecnicas_aprendizaje|add_class:"form-select" }}
                        </div>

                        <div class="mb-3">
                            <label for="descripcion_estrategia" class="form-label">Descripción Estrategia</label>
                            {{ form.descripcion_estrategia|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="eje_transversal" class="form-label">Eje Transversal</label>
                            {{ form.eje_transversal|add_class:"form-select" }}
                        </div>

                        <div class="mb-3">
                            <label for="hp" class="form-label">Horas Prácticas (HP)</label>
                            {{ form.hp|add_class:"form-control" }}
                        </div>

                        <div class="mb-3">
                            <label for="estudio_independiente" class="form-label">Estudio Independiente</label>
                            {{ form.estudio_independiente|add_class:"form-select" }}

                            <!-- Botón para abrir el modal -->
                           <style>
                                button.btn-primary:hover {
                                    background-color: #1b2f56;
                                }
                                button.btn-primary{
                                    background: #214588;
                                }

                            </style>
                            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#estudioModal">
                                <img src="{% static 'img/agregar-archivo.png' %}" alt="" style="height: 34px;"> Agregar nuevo Estudio Independiente
                            </button>
                        </div>


                        <hr class="my-4">
                        <div class="text-center">
                            <button type="submit" class="btn btn-success w-100" id="guardarSilaboBtn">
                                    <img src="{% static 'img/disquete.png' %}" alt="" style="height: 34px;"> Guardar Sílabo
                                    <div id="spinner" class="spinner-border spinner-border-sm" style="display: none;" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function mostrarSpinner() {
    const btn = document.getElementById('guardarSilaboBtn');
    const spinner = document.getElementById('spinner');

    // Deshabilita el botón
    btn.disabled = true;

    // Oculta el icono del botón y muestra el spinner
    const icon = btn.querySelector('img');

    spinner.style.display = 'inline-block'; // Muestra el spinner

    return true; // Asegúrate de que el formulario se envíe
}
</script>


{% include 'modal_agregar_estudio_independiente.html' %}


{% endblock %}

