<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Agrega los enlaces a las hojas de estilo de Bootstrap y JavaScript si no lo has hecho ya -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-MCd5Z2lm89l8xL5L0clGgRkgf1kjc5KnuKl5OGT5m3oOzJz3ai63RU0F5mXw7Jd7PzP/AM9WLL5Ilr26P6pOyA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


++++++++++++++++++++++++++++++++++++++++++++++++++++++++
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
    <div class="container mt-5">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#section1">SILABO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#section2">ESTUDIO INDEPENDIENTE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#section3">PLAN DE CLASE </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#section4">GUÍA PARA EL ESTUDIO</a>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div id="section1" class="tab-pane active">


                {% include 'detalle_silabo.html' %}
            </div>
            <div id="section2" class="tab-pane">
                {% include 'detalle_estudioindependiente.html' %}
            </div>
            <div id="section3" class="tab-pane">
                {% include 'detalle_plandeclase.html' %}
            </div>
            <div id="section4" class="tab-pane">
            {% include 'detalle_guiadeestudioindependiente.html' %}
            </div>
        </div>
    </div>
    {% endblock %}


<script>
    document.getElementById("myButton").addEventListener("click", function() {
        this.classList.toggle("btn-primary"); // Cambia el color de fondo del botón
        this.classList.toggle("btn-danger"); // Cambia a otro color de fondo (por ejemplo, rojo)
    });
</script>
</body>
</html>
