{% load static %}

<style>
    #table-container {
        overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
        max-width: 100%;  /* Asegura que no exceda el ancho del contenedor */
    }

    #custom-table {
        width: 100%;
        border-collapse: collapse; /* Elimina el espacio entre los bordes de las celdas */
        table-layout: fixed; /* Fija el ancho de las columnas según lo definido */
    }

    #custom-table th, #custom-table td {
        border: 1px solid black; /* Bordes negros para todas las celdas */
        padding: 12px; /* Espaciado para todos los th y td */
        text-align: left;
        overflow: hidden; /* Oculta contenido que excede el ancho */
        text-overflow: ellipsis; /* Añade puntos suspensivos para el texto largo */
        white-space: normal; /* Permite que el texto se envuelva a la siguiente línea */
    }

    #custom-table th {
        background-color: #e1e1e1; /* Fondo negro para los encabezados */
        color: black; /* Color de texto blanco para los encabezados */
        font-weight: bold;
    }

    /* Tamaños personalizados para columnas */
    #th-small {
        width: 50px;
    }

    #th-medium {
        width: 100px;
    }

    #th-large {
        width: 400px;
    }

    #th-xlarge {
        width: 500px;
    }

    /* Estilos para las filas de datos */
    #custom-table tbody tr:nth-child(odd) {
        background-color: #f9f9f9; /* Color para filas impares */
    }

    #custom-table tbody tr:nth-child(even) {
        background-color: #e5e5e5; /* Color para filas pares */
    }
</style>



<div class="container">
    {% for codigo, silabos_grupo in silabos_agrupados.items %}
    <div id="table-container" class="mb-3">
        <h2>  {{ silabos_grupo.asignatura }}</h2>
        <table id="custom-table">
            <thead class="border-top-color">




                <tr>
                    <th scope="col" id="th-medium">N Encuentro</th>
                    <th scope="col" id="th-medium">Carrera</th>
                    <th scope="col" id="th-large">Asignatura</th>
                    <th scope="col" id="th-medium">Maestro</th>
                    <th scope="col" id="th-medium">Fecha</th>
                    <th scope="col" id="th-xlarge">Objetivo Conceptual</th>
                    <th scope="col" id="th-xlarge">Objetivo Procedimental</th>
                    <th scope="col" id="th-xlarge">Objetivo Actitudinal</th>
                    <th scope="col" id="th-large">P Momento Didáctico</th>
                    <th scope="col" id="th-large">S Momento Didáctico</th>
                    <th scope="col" id="th-large">T Momento Didáctico</th>
                    <th scope="col" id="th-medium">Unidad</th>
                    <th scope="col" id="th-large">Detalle Unidad</th>
                    <th scope="col" id="th-large">Contenido Temático</th>
                    <th scope="col" id="th-large">Forma Organizativa</th>
                    <th scope="col" id="th-medium">Tiempo</th>
                    <th scope="col" id="th-large">Técnicas de Aprendizaje</th>
                    <th scope="col" id="th-large">Estrategia Aprendizaje</th>
                    <th scope="col" id="th-medium">Eje Transversal</th>
                    <th scope="col" id="th-small">HP</th>
                    <th scope="col" id="th-large">Estudio I</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for silabo in silabos_grupo %}
                <tr class="align-top">
                    <th><h4>{{ silabo.encuentros }}</h4></th>
                    <td>{{ silabo.carrera }}</td>
                    <td>{{ silabo.asignatura }}</td>
                    <td>{{ silabo.maestro }}</td>
                    <td>{{ silabo.fecha }}</td>
                    <td>{{ silabo.objetivo_conceptual }}</td>
                    <td>{{ silabo.objetivo_procedimental }}</td>
                    <td>{{ silabo.objetivo_actitudinal }}</td>
                    <td>{{ silabo.momento_didactico_primer }}</td>
                    <td>{{ silabo.momento_didactico_segundo }}</td>
                    <td>{{ silabo.momento_didactico_tercer }}</td>
                    <td>{{ silabo.unidad }}</td>
                    <td>{{ silabo.detalle_unidad }}</td>
                    <td>{{ silabo.contenido_tematico }}</td>
                    <td>{{ silabo.forma_organizativa }}</td>
                    <td>{{ silabo.tiempo }}</td>
                    <td>{{ silabo.tecnicas_aprendizaje }}</td>
                    <td>{{ silabo.descripcion_estrategia }}</td>
                    <td>{{ silabo.eje_transversal }}</td>
                    <td>{{ silabo.hp }}</td>
                    <td>
                        {% include 'plan_estudio_template/detalle_estudioindependiente.html' %}

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tableModal">
                            Ver Estudio Independiente
                        </button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="30">
                       <div class="d-flex align-items-center gap-3">
                            <form method="post" action="{% url 'generar_excel' %}">
                                {% csrf_token %}
                                <input type="hidden" name="codigoSilabo" value="{{ codigo }}">
                                <button type="submit" class="btn btn-secondary d-flex align-items-center">
                                    <img src="{% static 'img/exel2.png' %}" alt="" style="height: 34px" class="me-2">Exportar en Excel
                                </button>
                            </form>

                            <form method="post" action="{% url 'generar_docx' %}">
                                {% csrf_token %}
                                <input type="hidden" name="codigoSilabo" value="{{ codigo }}">
                                <button type="submit" class="btn btn-secondary d-flex align-items-center">
                                    <img src="{% static 'img/doc.png' %}" alt="" style="height: 30px" class="me-2">Exportar en Word
                                </button>
                            </form>
                        </div>

                    </th>

                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
